{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-transform-runtime", { "babel-polyfill": false, "regenerator": true, }]
  ]
}
