{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "targets": {
        "node": "current"
      }
    }],
    "@babel/preset-flow",
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-transform-runtime", { "babel-polyfill": false, "regenerator": true, }]
  ]
}
